.drop{
	border:2px dashed #bbb;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	padding:25px;
	text-align:center;
	font:20pt bold,"Vollkorn";color:#bbb
}

.progressBar {
	width: 100%;
	padding: 0px;
  	margin: 0px;
	background-color: grey;
}

.none {
	display: none;
}

.bar {
	width: 1%;
    height: 30px;
    background-color: green;
}

.default {
	border:2px dashed #bbb;
}

.dragged {
	border: 5px dashed rgba(92, 254, 84, 0.83);
}

button {
	margin-left: 400px;
	font-size: 70px;
}
