.none {
    display: none;
}

header {
    display: flex;
    flex-direction: row;
    min-height: 35px;
    background: rgba(134, 108, 108, 0.57);
    align-items: center;
    justify-content: flex-end;
    .links {
        display: flex;
        flex-direction: row;
        width: 15%;
        justify-content: space-around;
    }
}
