.current-filters {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}


@media(max-width: 815px) {
    .current-filters {
        border-top: 1px solid #ddd;
    }
}//815px
