.userBar {
    display: flex;
    flex-direction: row;
    // width: 40%;
    justify-content: space-around;
    align-items: center;
    .tooltip {
        background: rgba(195, 195, 195, 0.14);
        padding: 8px;
        border: 1px solid #ddd;
        text-align: center;
        position: absolute;
        // top: 71px;
        // right: 46px;
        color: #352323;
        letter-spacing: 1px;
        font-size: 17px;
        .triangle {
            content: ' ';
            position: absolute;
            border-style: solid;
            border-width: 0px 15px 15px;
            border-color: rgba(195, 195, 195, 0.44) transparent;
            display: block;
            width: 0;
            z-index: 3000;
            top: -15px;
            left: 40% !important;
        }
    }
}

.userBar, .userBar-drop {
    // position: relative;
    .avatar {
        border: 2px solid #ddd;
        width: 45px;
        border-radius: 50%;
        margin: 5px 15px 5px 5px;
    }
    .avatar:hover {
        border: 2px solid rgb(0, 188, 212);
        cursor: pointer;
    }
    a {
        text-decoration: none;
        color: white;
        letter-spacing: 2px;
        font-size: 20px;
        margin: 0 10px 0 10px;
    }
    .logout:hover {
        color: rgb(0, 188, 212);
    }
    // .wrapper-for-tooltip {
    //     position: relative;
    // }
}

@media(max-width: 860px) {
    .logout {
        margin-bottom: 15px !important;
    }
}
