.filters-bar {
    border-right: 1px solid #ddd;
    min-width: 310px;
}
.circular-progress-wrapper{
    text-align: center;
}

@media(max-width: 815px) {
    .filters-bar {
        min-width: 100%;
        border-right: none;
    }
}//815px
