@import url('https://fonts.googleapis.com/css?family=Lato');

.signup {
    max-width: 400px;
    font-family: 'Lato', sans-serif;
    padding: 10px 40px 10px 40px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
    a {
        text-decoration: none;
    }
    .btn {
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 5px;
        font-size: 14px;
        font-weight: normal;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
    }
    .btn-social {
        position: relative;
        padding-left: 44px;
        text-align: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .btn-vk {
        color: #fff;
        background-color: #587ea3;
        border-color: rgba(0,0,0,0.2);
    }
    .btn-vk:hover {
        color: #fff;
        background-color: #466482;
        border-color: rgba(0,0,0,0.2);
    }

    .btn-twitter {
        color: #fff;
        background-color: #55acee;
        border-color: rgba(0,0,0,0.2);
    }
    .btn-twitter:hover {
        color: #fff;
        background-color: #2795e9;
        border-color: rgba(0,0,0,0.2);
    }
    .btn-facebook {
        color: #fff;
        background-color: #3b5998;
        border-color: rgba(0,0,0,0.2);
    }
    .btn-facebook:hover {
        color: #fff;
        background-color: #2d4373;
        border-color: rgba(0,0,0,0.2);
    }
    .btn-google {
        color: #fff;
        background-color: #dd4b39;
        border-color: rgba(0,0,0,0.2);
    }
    .btn-google:hover {
        color: #fff;
        background-color: #c23321;
        border-color: rgba(0,0,0,0.2);
    }
    .btn-block {
        width: 100%;
        display: block;
    }
    .btn-social>:first-child {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 32px;
        line-height: 34px;
        font-size: 1.6em;
        text-align: center;
        border-right: 1px solid rgba(0,0,0,0.2);
    }
    form {
        border-top: 1px solid #89b6bd;
        margin-top: 15px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .or {
        color: #807777;
        font-size: 1.5em;
    }
    .btn-can {
        background: none;
        border: 1px solid #36c55c;
        color: #36c55c;
    }
    .btn-not {
        background: none;
        border: 1px solid #ddd;
        color: #ddd;
    }
    button {
        margin-top: 20px;
    }

}
