.map-submit {
    text-align: center;
    margin-top: 10px;
    border: 1px solid #ddd;
    padding: 10px;
    cursor: pointer;
}

.map-submit:hover {
    color: rgba(77, 147, 59, 0.74);
    border: 1px solid rgba(77, 147, 59, 0.74);
}
